body {
    display: flex;
    flex-direction: column;
    flex:1;
}

h1 {
   text-align: center;
}

#grid {
    display:flex;
    flex:1;
    flex-wrap: wrap;
    
}

.gridBox {
    background-color: black;
    color:white;
    border-style:solid;
    width: calc(100%/16);
    height:auto;
    box-sizing:border-box;
    
}