body {
    display: flex;
    flex-direction: column;
    background-color: gray;
    justify-content:space-between;
    align-items:center;
    gap:16px;
}

h1 {
   text-align: center;
}

button {
    text-align:center;
    color:white;
    background-color:black;
    width:fit-content;
    
}

button:hover{
    animation-name: colorChange;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

#grid {
    display:flex;
    flex:1;
    flex-wrap: wrap;
    position: relative;
    
}

.gridBox {
     background-color:white;
     color:black;
    border-style:solid;
    width: calc(100% / 16);
    height:40px;
    box-sizing:border-box;
    transition: background-color 0.5s, color 0.5s;
    z-index:1;
}

@keyframes colorChange {
    0% {
        background-color: red;
        color:violet;
    }
    10% {
        background-color: orange;
        color:indigo;
    }
    20% {
        background-color: yellow;
        color:blue;
    }
    30% {
        background-color:green;
        color:green;
    }
    40% {
        background-color:blue;
        color:yellow;
    }
    50% {
        background-color:indigo;
        color:orange;
    }
    60% {
        background-color:violet;
        color:red;
    }
    70% {
        background-color:indigo;
        color:red;
    }
    80% {
        background-color: blue;
        color:orange;
    }
    90% {
        background-color:green;
        color:yellow;
    }
    100% {
        background-color:yellow;
        color:black;
    }
}


.gridBox:hover{
    animation-name: colorChange;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

.pixel {
    position: absolute;
    width:10px;
    height:10px;
    background-color:black;
    border-radius:50%;
    pointer-events:none;
    opacity:1;
    transition:opacity 0.3s ease;
    z-index:2;
}